*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
    color:white;
}

.vertical{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.col{
    margin:10px;
}

.col-sm-3{
    padding:10px;
}
.card{
    background-color: hsl(235, 46%, 20%); 
    height:100%;
    width:14rem;
}

.col-sm-9 .card-header{
    position: relative;
    height:30px;
    overflow:hidden;
}

.col-sm-3 .card-header{
    height:80%;
}

.header-img{
    width:50px;
    position: absolute;
    top:-8px;
}

.profile{
    background-color: hsl(246, 80%, 60%);
}

#profile-pic{
    width:40px;
    border-radius: 100%;
    border: 2px solid white;
}

.work{
    background-color: hsl(15, 100%, 70%);
}

.play{
    background-color: hsl(195, 74%, 62%);
}

.study{
    background-color: hsl(348, 100%, 68%);
}

.exercise{
    background-color: hsl(145, 58%, 55%);
}

.social{
    background-color: hsl(264, 64%, 52%);
}

.self-care{
    background-color: hsl(43, 84%, 65%);
}

