*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
    color:white;
}

.vertical{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.container{
    width:75%;
}

.card{
    background-color: hsl(235, 46%, 20%); 
    height:100%;
    border-radius:10px;
}

.col-sm-3 .card-header{
    height:80%;
    border-radius:12px !important;
}

.bottom{
    margin-top:22px;
}

.col-sm-9 .card-header{
    height:35px;
    overflow:hidden; 
}

.col-sm-9 .card-body {
    background-color: hsl(235, 46%, 20%);
    border-radius: 12px !important;
    position: relative;
    top:-7px;
}

.col-sm-9 .card-body:hover , .col-sm-9 .card:hover{
    background-color: hsl(235, 46%, 40%);
}

.col-sm-9 .card:hover >.card-body{
    background-color: hsl(235, 46%, 40%);
}

.header-img{
    width:50px;
    position: relative;
    top:-15px;
    float: right;
}

.profile{
    background-color: hsl(246, 80%, 60%);
}

#profile-pic{
    width:50px;
    border-radius: 100%;
    border: 2px solid white;
    margin-top:10px;
}

a{
    text-decoration: none;
    color: hsl(236, 100%, 87%);
}

.tabs{
    float: left;
    clear:left;
}

.tabs:hover{
    color:white;
    cursor: pointer;
}

a.selected{
    color:white;
}
.work{
    background-color: hsl(15, 100%, 70%);
}

.play{
    background-color: hsl(195, 74%, 62%);
}

.task-heading{
    display: inline-block;
}

.ellipsis-img{
    float:right;
    position: relative;
    top:7px;
}

.previous{
    color: hsl(236, 100%, 87%);
}

.report{
    color: hsl(236, 100%, 87%);
}

.study{
    background-color: hsl(348, 100%, 68%);
}

.exercise{
    background-color: hsl(145, 58%, 55%);
}

.social{
    background-color: hsl(264, 64%, 52%);
}

.self-care{
    background-color: hsl(43, 84%, 65%);
}

.duration, .previous{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

